<div class="{{{wrapperClass}}}">
    <label class="{{{labelClass}}}" for="{{{id}}}">{{{label}}}</label>
    {{#if hasLineBreak}}
        <br>
    {{/if}}
    <input class="{{{inputClass}}}" type="{{{type}}}" id="{{{id}}}" placeholder="{{{placeholder}}}" name="{{{name}}}" {{#if readonly}}readonly='readonly'{{/if}}>
</div>