<main class="authorization__background">
    <div class="authorization">
        <div class="authorization__wrapper">
            <h1 class="authorization__title">Sign up</h1>

            <form id="authForm">
                {{{emailInput}}}
                {{{loginInput}}}
                {{{nameInput}}}
                {{{surnameInput}}}
                {{{phoneInput}}}
                {{{passwordInput}}}
                {{{secondPasswordInput}}}
            </form>

            {{{button}}}

            <div class="registration__link">
                <a href="/">Sign in</a>
            </div>
        </div>
    </div>
</main>